==

<div class="ct-navbarMobile">
    <div class="navbar-header">
        <a class="navbar-brand" href="indexmulti.html">
            <img class="ct-logo-navbar--transparent" src="./assets/images/content/dentist/logo.png" alt="">
            <img class="ct-logo-navbar--solid" src="./assets/images/content/dentist/logo-solid.png" alt="">
        </a>
    </div>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown"><a>Home</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="indexmulti.html">Home - Parallax</a>
                    <a href="header.html">Home - Video</a>
                    <a href="header2.html">Home - Kenburns</a>
                    <a href="header3.html">Home - Slider</a>
                    <a href="header4.html">Home - Slice Effect</a>
                    <a href="header5.html">Home - Push Effect</a>
                </li>
            </ul>
        </li>
        <li ><a href="about.html">About</a></li>
        <li ><a href="prices.html">Pricing</a></li>
        <li ><a href="materials.html">Materials</a></li>
        <li ><a href="works.html">Works</a></li>
        <li ><a href="blog.html">Blog</a></li>
        <li class="dropdown "><a href="contact.html">Contact</a>
            <ul class="dropdown-menu">
                <li>
                    <span>Monday - Friday</span>
                    <p>9:00AM - 6:00PM</p>
                    <span>Saturday</span>
                    <p>10:00AM - 4:00PM</p>
                    <span>Sunday</span>
                    <p>CLOSED</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
