==

<div class="ct-topbar ct-topbar--default">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="text-wrapper">
                    <i class="fa fa-phone"></i>
                    + 48 500 160 321
                </div>
                <div class="text-wrapper">
                    <a href="#"><i class="fa fa-envelope"></i>kontakt@lek-med.com</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="ct-socials text-right">
                    <a href="https://www.facebook.com/createITpl" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tumblr"><i class="fa fa-tumblr"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
